<!DOCTYPE html>
<html lang=“en”>
<head>
  <meta charset=“UTF-8">
  <meta http-equiv=“X-UA-Compatible” content=“IE=edge”>
  <meta name=“viewport” content=“width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>쿠키 팔아요!</h1>
  <input onclick=“getCookie();” type=“checkbox” name=“check” id=“check” />
  <label for=“check”>ALERT 하루 동안 보지 않기</label>
  <script>
    if('<%= alert %>' === 'true') alert(`쿠키 팔아요! 쿠키의 값은? ${document.cookie}`);
    
  </script>
</body>
</html>







